a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#myFace {
  width: 300px;
  float: left;
  margin: 0vh 5vh 5vh 5vh;
  padding: 2vh 2vh 2vh 2vh;
  border-style: solid;
  border-width: 9px;
  border-color: #f7ca18;
  animation: byBottom 1s ease both;

}

/*HOVER*/
::selection {
  background-color: #f7ca18;
  color: #1b1b1b;
}

/*SOCIAL ICONS*/
section .title .social {
  color: #939393;
  font-size: 18px;
  padding: 0 10px 10px 10px;
  animation: byBottom 1s ease both;
}

#social a .fa-twitter:hover {
  /*color: #3EAAF4;*/
  color: #f7ca18;
  transition: 0.5s;
}

#social a .fa-medium:hover {
  /*color: #0BE370;*/
  color: #f7ca18;
  transition: 0.5s;
}

#social a .fa-linkedin:hover {
  /*color: #0077B5;*/
  color: #f7ca18;
  transition: 0.5s;
}

#social a .fa-github:hover {
  /*color: #57297A;*/
  color: #f7ca18;
  transition: 0.5s;
}


section .title span a {
  position: relative;
  display: inline-block;
  margin-left: 5rem;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 500;

  background-image: linear-gradient(to right, rgba(255,223,98,0) 50%, #FFDF62 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  line-height: 1.15em;
  text-decoration: none;
  transition: background-position 0.5s ease-out;


}
section .title span a::after {
  content: "";
  height: 2px;
  background-color: #f7ca18;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  animation: linkAfter 0.5s 1s ease both;
}

section .title span a:hover {
  color: #000;
  background-position: -99.99% 0;
  font-weight: 600;



}
section {
  background-color: #fff;
  /*1b1b1b*/
  height: 100vh;
  display: flex;
}

section .title {
  max-width: 60%;
  width: 100%;
  align-self: center;
  transform: translateY(-50px);
  /*margin: 4vw 4vw 4vw 4vw;*/
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 5vh;
}
section .title span {
    /*display: inline-block;*/
  font-size: 2.8vw;
  color: #000;
  width: 100%;
  text-transform: uppercase;
  transform: translateX(-100%);
  animation: byBottom 1s ease both;
  font-weight: 600;
  letter-spacing: 0.25vw;
  padding-bottom: 10px;
}
section .title:last-child {
  font-size: 1rem;
  animation: byBottom 1s 0.25s ease both;
}

.name {
  background-image: linear-gradient(to right, rgba(255,223,98,0) 50%, #FFDF62 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  color: #222;
  line-height: 1.15em;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
}
.name:hover {
  background-position: -99.99% 0;
  font-weight: 600;
}

/*ANIMATIONS*/
@-moz-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-webkit-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@-o-keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
/*NAVIGATIOn*/
* {
  box-sizing: border-box;
}
.sidebar-toggle {
  position: fixed;
  z-index: 1;
  border: 4px solid #fff;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 23em;
  margin-top: 1em;
  background-color: #f7ca18;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.5s;
  /*animation: byBottom 1s ease both;*/

}
.sidebar-toggle.is-closed {
  transform: translateX(0.3em) rotate(0deg);
}
.sidebar-toggle .icon {
  font-size: 1.5rem;
  color: #000;
}
.sidebar {
  width: 18em;
  height: 100vh;
  background-color: #F3F3F3;
  transition: 0.7s;
}
.sidebar.is-closed {
  transform: translateX(-16em);
}

.sidebar-list {
  color: #000;
  list-style: none;
  padding: 30px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.2vw;

}

.sidebar-list li {
  padding: 20px;
}

.overlay-closed {
  display:none;
}


/*LINK HIGHLIGHT*/
li a {
  background-image: linear-gradient(to right, rgba(255,223,98,0) 50%, #FFDF62 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  color: #222;
  line-height: 1.15em;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
}
li a:hover {
  background-position: -99.99% 0;
  font-weight: 600;
}
