
a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
  height: 28px;
	color: #8CC7FF;
	background-color: #FFFF8C;
	border: 1px solid #8CC7FF;
	padding-top: 12px;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
	color: #FFFF8C;
	background-color: #8CC7FF;
	border: 1px solid #8CC7FF;
}
